# PySpark dependencies (required)
py4j

# iceberg dependencies
pyiceberg[pyarrow,duckdb,pandas]==0.3.0
matplotlib==3.6.3
scipy==1.10.0
duckdb-engine==0.6.8

# PySpark dependencies (optional)
numpy
plotly
mlflow>=1.0
scikit-learn
memory-profiler==0.60.0

# Spark Connect (required)
grpcio==1.48.1
grpcio-status==1.48.1
protobuf==3.19.5
googleapis-common-protos==1.56.4

# Spark Connect python proto generation plugin (optional)
mypy-protobuf==3.3.0
googleapis-common-protos-stubs==2.2.0
grpc-stubs==1.24.11

duckdb-engine==0.6.8
psycopg2==2.9.6

# # TorchDistributor dependencies
# torch
# torchvision